.admins-container {
  padding: 20px;
  text-align: center;
}

.admin-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.admin-card {
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 240px;
}

.admin-card h3 {
  margin-bottom: 10px;
}

.add-admin-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.update-admin-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #458059;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.delete-admin-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a72c1f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


.login-popup {
  margin-top: 20px;
  background-color: #fff3cd;
  padding: 20px;
  border: 1px solid #ffeeba;
  border-radius: 12px;
  display: inline-block;
}
